.navContainer{
/* border:2px solid white; */
display:flex;
flex-direction: column;
/* height:29.3rem; */
height:89vmin;
width:20vmin;
position:fixed;
bottom:0;
left:0;
font-size: 2.8vmin;
align-items: center;
justify-content: space-evenly;
background-color: #1e1e1e;

}

.navTitle{
    color: #ffbd59;
    font-weight: 700;
    border-bottom: 2px solid  #ffbd59;
}

.navLink{
    color: #ffbd59;
    font-size: 2.5vmin;
}

.navLink:hover{
    color:white;
    cursor:pointer;
    

}